<!-- Start of header page-->

<app-header></app-header>

<!--  End header page-->

<!-- Start of content page-->


<!-- Start of card 3 -->
<div class="bg-secondary">
  <div class="row py-5 item_size">
    <div class="col-md-1   me-3"></div>
    <div class="col-md-3   card me-5">
      <ngb-carousel *ngIf="images">
        <ng-template ngbSlide>
          <div class="wrapper">
            <img [src]="images[0]" alt="Random first slide" class=" img-size-card-1 card-img-top py-2">
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="wrapper">
            <img [src]="images[1] " alt="Random second slide" class="img-size-card-1 card-img-top py-2">
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="wrapper">
            <img [src]="images[2]" alt="Random third slide" class="img-size-card-1 card-img-top py-2">
          </div>
        </ng-template>
      </ngb-carousel>

    </div>
    <div class="col-md-3   card me-5">
      <ngb-carousel *ngIf="images">
        <ng-template ngbSlide>
          <div class="wrapper">
            <img [src]="images[0]" alt="Random first slide" class=" img-size-card-1 card-img-top py-2">
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="wrapper">
            <img [src]="images[1] " alt="Random second slide" class="img-size-card-1 card-img-top py-2">
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="wrapper">
            <img [src]="images[2]" alt="Random third slide" class="img-size-card-1 card-img-top py-2">
          </div>
        </ng-template>
      </ngb-carousel>

    </div>
    <div class="col-md-3   card me-5">
      <ngb-carousel *ngIf="images">
        <ng-template ngbSlide>
          <div class="wrapper">
            <img [src]="images[0]" alt="Random first slide" class=" img-size-card-1 card-img-top py-2">
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="wrapper">
            <img [src]="images[1] " alt="Random second slide" class="img-size-card-1 card-img-top py-2">
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="wrapper">
            <img [src]="images[2]" alt="Random third slide" class="img-size-card-1 card-img-top py-2">
          </div>
        </ng-template>
      </ngb-carousel>

    </div>
    <div class="col-sm-2 "></div>
  </div>
</div>
<!-- End card 3-->

<!--Start Title-->
<div class="row col-md-12 mt-5">
  <p class="text-center " style="font-size: 30px;text-decoration: underline;">QUI PEUT DONNER SON SANG</p>
</div>
<!--End ttitle-->

<div class=" container bg-secondary text-white" style="font-size: 25px;border: 1px solid burlywood;">
  <div class="row me-2 mt-3 mx-2">En général, toute personne en bonne santé âgée de 18 
    ans ou plus et répondant aux critères de sélection peut donner son sang.
     Cependant, les critères peuvent varier légèrement en fonction des pays et
      des organismes de collecte de sang.</div>
   <div class="row me-2 mx-2">
    Voici quelques critères généraux qui sont souvent pris en compte pour 
    déterminer l'éligibilité à un don de sang :
   </div>
   <div class="row me-2 mx-2 mb-3">
    Poids minimum : la plupart des pays demandent que le donneur pèse au moins 50 kg pour pouvoir donner son sang.
État de santé : le donneur doit être en bonne santé générale, sans fièvre ni infection au moment du don.
Âge : la plupart des pays exigent que le donneur ait au moins 18 ans, mais certains peuvent autoriser les dons dès 16 ou 17 ans avec le consentement des parents ou tuteurs légaux.
Délai depuis le dernier don : il y a généralement un délai minimal entre les dons de sang pour permettre au corps de se rétablir complètement. Ce délai varie selon les pays et les organismes, mais il est souvent de plusieurs semaines à quelques mois.
Autres critères : certains critères médicaux, comme la prise de certains médicaments ou la présence de maladies chroniques, peuvent rendre un donneur inéligible pour un don de sang.
En résumé, si vous voulez donner votre sang, il est important de vérifier les critères d'admissibilité auprès de l'organisme de collecte de sang de votre pays ou de votre région.

   </div>
</div>
<!-- Start of card 1 -->

<div class="row py-5 item_size" style="width: 100%;">
  <div class="col-md-1   me-3"></div>
  <div class="col-md-3   card me-5">
    <img src="assets/img/card_1/don6.jpg" alt="..." class="img-size-card card-img-top py-2">
    <div class="card-body">
      <h5 class="card-title">C'EST D'ABORD UNE QUESTION D'ÂGE ET DE POIDS</h5>
      <p class="card-text">Vous avez entre 18 et 70 ans révolus ? Vous pesez plus de 50 kilos ?
        Bonne nouvelle, vous avez probablement un grand pouvoir, celui de sauver des vies en donnant votre sang !
        Vous pouvez donner jusqu’à 6 fois par an pour les hommes et jusqu’à 4 fois pour les femmes.
        Pour savoir dès maintenant si vous pouvez faire un don, faites le test en ligne.
        Attention, un donneur averti en vaut deux : seul le personnel de santé de l’EFS peut confirmer que vous pouvez
        donner le jour de votre don à l'issue de votre entretien médical..</p>
      <p class="card-text"><small class="text-muted">Last updated 10 mins ago</small></p>
    </div>
  </div>
  <div class="col-md-3  card me-5">
    <img src="assets/img/card_1/don7.jpg" alt="..." class="img-size-card card-img-top py-2">
    <div class="card-body">
      <h5 class="card-title">PARLONS DES QUELQUES CONTRE-INDICATIONS.</h5>
      <p class="card-text">Les médicaments de thérapie innovante
        L’EFS est le premier producteur de médicaments innovants pour les essais cliniques de phase 1 et 2 sur le plan national. Destinés à traiter des patients atteints de pathologies aujourd'hui incurables, les MTI sont susceptibles de créer dans les prochaines années une véritable révolution thérapeutique.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="col-md-3  card">
    <img src="assets/img/card_1/don8.jpg" alt="..." class="img-size-card card-img-top py-2">
    <div class="card-body">
      <h5 class="card-title">Information sur le don</h5>
      <p class="card-text">Le questionnaire pour le don de sang contient
        des informations détaillées. Si vous avez des questions ou
        que vous vous demandez si vous remplissez les critères d’aptitude
        au don, adressez-vous à votre service régional
        de transfusion sanguine.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="col-sm-2 "></div>
</div>

<!-- End card 1 -->

<!--Start Title-->
<div class="row col-md-12 mb-3">
  <p class="text-center " style="font-size: 30px;text-decoration: underline;">Informations supplementaires</p>
</div>
<!--End ttitle-->

<!-- Start of card 2 -->

<div class="container-fluid row  pb-4 item_size  bg-secondary">
  <div class="col-md-1 mt-3"></div>
  <div class="col-md-5 mt-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Ut blanditiis, laboriosam eveniet, nam sed ratione molestias
          rem laborum iure, dolor aut totam ipsum cupiditate asperiores dicta
          obcaecati sit neque doloribus?
          Lorem ipsum dolor sit amet consectetur
          adipisicing elit. Quaerat similique reprehenderit dolorum
          obcaecati sed illum aliquid, earum atque dolor alias! Sint error
          culpa, illum nostrum amet dolores id beatae asperiores.
        </p>
        <a href="#" class="btn btn-primary">Donner pour Aider</a>
      </div>
    </div>
  </div>
  <div class="col-md-5 mt-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Ut blanditiis, laboriosam eveniet, nam sed ratione molestias
          rem laborum iure, dolor aut totam ipsum cupiditate asperiores dicta
          obcaecati sit neque doloribus?
          Lorem ipsum dolor sit amet consectetur
          adipisicing elit. Quaerat similique reprehenderit dolorum
          obcaecati sed illum aliquid, earum atque dolor alias! Sint error
          culpa, illum nostrum amet dolores id beatae asperiores.
        </p>
        <a href="#" class="btn btn-primary">Donner pour Aider</a>
      </div>
    </div>
  </div>
  <div class="col-md-1 mt-3"></div>
</div>

<!-- End card 2 -->

<!--Start Title-->
<div class="row col-md-12 mb-3">
  <p class="text-center " style="font-size: 30px;text-decoration: underline;">Informations supplementaires</p>
</div>
<!--End ttitle-->

<!-- Start bannier 1-->


<div class="row item_size ">
  <div class="col-md-1 "></div>
  <div class="col-md-5 me-2 ">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Ut blanditiis, laboriosam eveniet, nam sed ratione molestias
          rem laborum iure, dolor aut totam ipsum cupiditate asperiores dicta
          obcaecati sit neque doloribus?
          Lorem ipsum dolor sit amet consectetur
          adipisicing elit. Quaerat similique reprehenderit dolorum
          obcaecati sed illum aliquid, earum atque dolor alias! Sint error
          culpa, illum nostrum amet dolores id beatae asperiores.
          With supporting text below as a natural lead-in to additional content.
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Ut blanditiis, laboriosam eveniet, nam sed ratione molestias
          rem laborum iure, dolor aut totam ipsum cupiditate asperiores dicta
          obcaecati sit neque doloribus?
          Lorem ipsum dolor sit amet consectetur
          adipisicing elit. Quaerat similique reprehenderit dolorum
          obcaecati sed illum aliquid, earum atque dolor alias! Sint error
          culpa, illum nostrum amet dolores id beatae asperiores.
        </p>
        <a href="#" class="btn btn-primary">Donner pour Aider</a>
      </div>
    </div>
  </div>
  <div class="col-md-5">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">
          <img src="assets/img/card_1/don7.jpg" alt="..." class="img-size-card card-img-top py-2">
        </p>
        <a href="#" class="btn btn-primary">Donner pour Aider</a>
      </div>
    </div>
  </div>
  <div class="col-md-1 "></div>
</div>

<!-- End bannier-->

<!--Start Title-->
<div class=" row col-md-12 mb-3 mt-4">
  <p class="text-center " style="font-size: 30px;text-decoration: underline;">Informations supplementaires</p>
</div>
<!--End ttitle-->

<!-- Start bannier 2-->


<div class="row item_size pt-4 ">
  <div class="col-md-1 "></div>
  <div class="col-md-5 me-2 ">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">
          <img src="assets/img/card_1/don7.jpg" alt="..." class="img-size-card card-img-top py-2">
        </p>
        <a href="#" class="btn btn-primary">Donner pour Aider</a>
      </div>
    </div>
  </div>
  <div class="col-md-5">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">
          With supporting text below as a natural lead-in to additional content.
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Ut blanditiis, laboriosam eveniet, nam sed ratione molestias
          rem laborum iure, dolor aut totam ipsum cupiditate asperiores dicta
          obcaecati sit neque doloribus?
          Lorem ipsum dolor sit amet consectetur
          adipisicing elit. Quaerat similique reprehenderit dolorum
          obcaecati sed illum aliquid, earum atque dolor alias! Sint error
          culpa, illum nostrum amet dolores id beatae asperiores.
          With supporting text below as a natural lead-in to additional content.
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Ut blanditiis, laboriosam eveniet, nam sed ratione molestias
          rem laborum iure, dolor aut totam ipsum cupiditate asperiores dicta
          obcaecati sit neque doloribus?
          Lorem ipsum dolor sit amet consectetur
          adipisicing elit. Quaerat similique reprehenderit dolorum
          obcaecati sed illum aliquid, earum atque dolor alias! Sint error
          culpa, illum nostrum amet dolores id beatae asperiores.
        </p>
        <a href="#" class="btn btn-primary">Donner pour Aider</a>
      </div>
    </div>
  </div>
  <div class="col-md-1 "></div>
</div>

<!-- End bannier-->

<!-- Start of card 3 -->

<div class="row py-5 item_size">
  <div class="col-md-1   me-3"></div>
  <div class="col-md-3   card me-5">
    <img src="assets/img/card_1/don6.jpg" alt="..." class="img-size-card card-img-top py-2">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.
        This content is a little bit longer.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="col-md-3  card me-5">
    <img src="assets/img/card_1/don7.jpg" alt="..." class="img-size-card card-img-top py-2">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.
        This content is a little bit longer.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="col-md-3  card">
    <img src="assets/img/card_1/don8.jpg" alt="..." class="img-size-card card-img-top py-2">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.
        This content is a little bit longer.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="col-sm-2 "></div>
</div>

<!-- End card 3-->

<!-- Start of card 3 -->

<div class="row py-5 item_size">
  <div class="col-md-1   me-3"></div>
  <div class="col-md-3   card me-5">
    <ngb-carousel *ngIf="images">
      <ng-template ngbSlide>
        <div class="wrapper">
          <img [src]="images[0]" alt="Random first slide" class=" img-size-card-1 card-img-top py-2">
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="wrapper">
          <img [src]="images[1] " alt="Random second slide" class="img-size-card-1 card-img-top py-2">
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="wrapper">
          <img [src]="images[2]" alt="Random third slide" class="img-size-card-1 card-img-top py-2">
        </div>
      </ng-template>
    </ngb-carousel>
    <div class="card-body">
      <h5 class="card-title">PETIT CONTRÔLE RAPIDE</h5>
      <p class="card-text">De manière générale, toute personne en bonne santé,
        âgée entre 18 et 75 ans et pesant plus de 50 kg, peut donner son sang.
        La limite d’âge supérieure est fixée à 60 ans pour les nouveaux donneurs.
        Les donneurs réguliers peuvent donner leur sang jusqu’à
        leur 75e anniversaire s’ils sont en bonne santé.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="col-md-3   card me-5">
    <ngb-carousel *ngIf="images">
      <ng-template ngbSlide>
        <div class="wrapper">
          <img [src]="images[0]" alt="Random first slide" class=" img-size-card-1 card-img-top py-2">
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="wrapper">
          <img [src]="images[1] " alt="Random second slide" class="img-size-card-1 card-img-top py-2">
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="wrapper">
          <img [src]="images[2]" alt="Random third slide" class="img-size-card-1 card-img-top py-2">
        </div>
      </ng-template>
    </ngb-carousel>
    <div class="card-body">
      <h5 class="card-title">PETIT CONTRÔLE RAPIDE</h5>
      <p class="card-text">De manière générale, toute personne en bonne santé,
        âgée entre 18 et 75 ans et pesant plus de 50 kg, peut donner son sang.
        La limite d’âge supérieure est fixée à 60 ans pour les nouveaux donneurs.
        Les donneurs réguliers peuvent donner leur sang jusqu’à
        leur 75e anniversaire s’ils sont en bonne santé.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="col-md-3   card me-5">
    <ngb-carousel *ngIf="images">
      <ng-template ngbSlide>
        <div class="wrapper">
          <img [src]="images[0]" alt="Random first slide" class=" img-size-card-1 card-img-top py-2">
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="wrapper">
          <img [src]="images[1] " alt="Random second slide" class="img-size-card-1 card-img-top py-2">
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="wrapper">
          <img [src]="images[2]" alt="Random third slide" class="img-size-card-1 card-img-top py-2">
        </div>
      </ng-template>
    </ngb-carousel>
    <div class="card-body">
      <h5 class="card-title">PETIT CONTRÔLE RAPIDE</h5>
      <p class="card-text">De manière générale, toute personne en bonne santé,
        âgée entre 18 et 75 ans et pesant plus de 50 kg, peut donner son sang.
        La limite d’âge supérieure est fixée à 60 ans pour les nouveaux donneurs.
        Les donneurs réguliers peuvent donner leur sang jusqu’à
        leur 75e anniversaire s’ils sont en bonne santé.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="col-sm-2 "></div>
</div>

<!-- End card 3-->


<!-- End content page-->

<!-- Start of footer page-->

<app-footer></app-footer>

<!-- End footer page-->