<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Enregistrement du Personnel</h4>
        <button type="button" class="btn-close bg-danger" aria-label="Close" (click)="d('Cross click')"></button>
    </div>
    <form  [formGroup]="formsText"  (ngSubmit)="addPersonnel()">
        <div class="modal-body">
            <div class="row col-md-12">
                <p class="text-center" style="font-size: 22px;text-decoration: underline;
            ">STAFF REGISTRATION</p>
            </div>
    
            <div class="row col-md-12">
                <div class="col-md-6 ">
                    <div class="form-group">
                        <label for="firstName">FirstName:</label>
                        <div class="input-group flex-nowrap">
                            <span class="input-group-text"><i class="fa fa-edit"></i></span>
                            <input type="text" class="form-control" placeholder="Code center" aria-label="Username"
                                aria-describedby="basic-addon1" formControlName="firstNamePerson"
                                >
    
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="pwd">LastName:</label>
                        <div class="input-group flex-nowrap">
                            <span class="input-group-text"><i class="fa fa-edit"></i></span>
                            <input type="text" class="form-control" placeholder="Code center" aria-label="Username"
                                aria-describedby="basic-addon1" formControlName="lastNamePersonne"
                              >
    
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="row col-md-12 mt-4">
                <div class="col-md-6 ">
                    <div class="form-group">
                        <label for="pwd">Phone:</label>
                        <div class="input-group flex-nowrap">
                            <span class="input-group-text"><i class="fa fa-edit"></i></span>
                            <input type="text" class="form-control" placeholder="Code center" aria-label="Username"
                                aria-describedby="basic-addon1" formControlName="phonePerson"
                                >
    
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="pwd">Email:</label>
                        <div class="input-group flex-nowrap">
                            <span class="input-group-text"><i class="fa fa-edit"></i></span>
                            <input type="text" class="form-control" placeholder="Code center" aria-label="Username"
                                aria-describedby="basic-addon1" formControlName="emailPerson"
                                >
    
                        </div>
                    </div>
                </div>
            </div>
            <div class="row col-md-12 mt-4">
                <div class="col-md-6 ">
                    <div class="form-group">
                        <label for="pwd">Adresse:</label>
                        <div class="input-group flex-nowrap">
                            <span class="input-group-text"><i class="fa fa-edit"></i></span>
                            <input type="text" class="form-control" placeholder="Code center" aria-label="Username"
                                aria-describedby="basic-addon1" formControlName="adressePerson"
                                >
    
                        </div>
                    </div>
                </div>
                <div class="col-md-6 ">
                    <div class="form-group">
                        <label for="pwd">Municipalities:</label>
                        <div class="input-group flex-nowrap">
                            <span class="input-group-text"><i class="fa fa-edit"></i></span>
                            <select class="form-select" formControlName="municipalitiesEntity" 
                             placeholder="hhbhb"
                             ngModel
                              >    
                                 <option  value="">Choose Your Municipalitie</option>
                                <option *ngFor="let list_municipalitie of list_municipalitie"
                                    value="{{list_municipalitie |json}}">
                                    {{list_municipalitie.municipalitieName}}
                                </option>
                            </select>
    
                        </div>
                    </div>
                </div>
            </div>
            <div class="row col-md-12 mt-4">
                <div class="col-md-6 ">
                    <div class="form-group">
                        <label for="pwd">Document:</label>
                        <div class="input-group flex-nowrap">
                            <span class="input-group-text"><i class="fa fa-edit"></i></span>
                            <select class="form-select" formControlName="documentEntity" 
                                ngModel >
                                <option  value="">Choose Your Documents</option>
                                <option *ngFor="let list_document of list_document" value="{{list_document |json}}">
                                    {{list_document.identityDocumentName}}
                                </option>
                            </select>
    
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="pwd">Jobs:</label>
                        <div class="input-group flex-nowrap">
                            <span class="input-group-text"><i class="fa fa-edit"></i></span>
                            <select class="form-select" formControlName="jobsEntity" 
                              ngModel>
                                <option value="" selected>Choose Your Jobs</option>
                                <option *ngFor="let list_jobs of list_jobs" value="{{list_jobs |json}}">
                                    {{list_jobs.jobsName}}
                                </option>
                            </select>
    
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-success" >Submit</button>
        </div>
    </form>
</ng-template>


<div class="row ">
    <div class="col-md-8 ">
        <h5>Personnels</h5>
    </div>
    <div class="col-md-4 ">
        <button class="btn btn-lg btn-outline-primary " (click)="open(content)">Nouvel Enregistrement </button>

    </div>

</div>
<div class="row col-md-12">

    <div *ngIf="messageSucces" class="alert alert-success mt-2" role="alert">
        Add Successfull
    </div>
    <div *ngIf="messageDelete" class="alert alert-danger mt-2" role="alert">
        Delete Successfull
    </div>

</div>

<div class="row col-md-12 mt-5">
    <h5 class="text-center text-decoration-underline">Table Personnels</h5>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">N</th>
                <th scope="col">Id</th>
                <th scope="col">firstName </th>
                <th scope="col">lastName</th>
                <th scope="col">phone</th>
                <th scope="col">Email</th>
                <th scope="col">Address</th>
                <th scope="col">municipalities</th>
                <th scope="col">Jobs</th>
                <th scope="col">Documents</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
       
            <tr *ngFor="let tab_staff of tab_staff ;let i = index">
                <th scope="row">{{i+1}}</th>
                <td>{{tab_staff.idPerson}}</td>
                <td>{{tab_staff.firstNamePerson}}</td>
                <td>{{tab_staff.lastNamePersonne}}</td>
                <td>{{tab_staff.phonePerson}}</td>
                <td>{{tab_staff.emailPerson}}</td>
                <td>{{tab_staff.adressePerson}}</td>
                <td>{{tab_staff.municipalitiesEntity.municipalitieName}}</td>
                <td>{{tab_staff.jobsEntity.jobsName}}</td>
                <td>{{tab_staff.documentEntity.identityDocumentName}}</td>
                <td>
                    <button type="submit" class="btn btn-primary  text-white me-2 " ><i
                        class="fa fa-edit" style="margin-right: 2px;"></i>
                    </button>

                    <button type="submit"  (click)="deleteStaff(tab_staff.idPerson)"
                    class="btn btn-danger text-white "><i
                        class="fas fa-trash-alt" style="margin-right: 2px;"></i></button>
                        
                </td>
            </tr>
           
        </tbody>
    </table>
</div>