<div class="row col-md-12 mt-5">
    <h5 class="text-center text-decoration-underline">Table Personnels</h5>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">N</th>
                <th scope="col">Id</th>
                <th scope="col">firstName </th>
                <th scope="col">lastName</th>
                <th scope="col">phone</th>
                <th scope="col">Email</th>
                <th scope="col">Address</th>
                <th scope="col">municipalities</th>
                <th scope="col">Jobs</th>
                <th scope="col">Documents</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
       
            <tr *ngFor="let tab_compte of tab_compte ;let i = index">
                <th scope="row">{{i+1}}</th>
                <td>{{tab_compte.idPerson}}</td>
                <td>{{tab_compte.firstNamePerson}}</td>
                <td>{{tab_compte.lastNamePersonne}}</td>
                <td>{{tab_compte.phonePerson}}</td>
                <td>{{tab_compte.emailPerson}}</td>
                <td>{{tab_compte.adressePerson}}</td>
                <td>{{tab_compte.municipalitiesEntity.municipalitieName}}</td>
                <td>{{tab_compte.jobsEntity.jobsName}}</td>
                <td>{{tab_compte.documentEntity.identityDocumentName}}</td>
                <td>
                    <button type="submit" class="btn btn-primary  text-white me-2 " ><i
                        class="fa fa-edit" style="margin-right: 2px;"></i>
                    </button>

                    <button type="submit"  (click)="deleteCompte(tab_compte.idPerson)"
                    class="btn btn-danger text-white "><i
                        class="fas fa-trash-alt" style="margin-right: 2px;"></i></button>
                        
                </td>
            </tr>
           
        </tbody>
    </table>
</div>