<!-- Start of header page-->

<app-header></app-header>

<!--  End header page-->

<!-- Start of content page-->


<!-- Start of carousel -->

<ngb-carousel *ngIf="images">
    <ng-template ngbSlide>
      <div class="wrapper">
        <img [src]="images[0]" alt="Random first slide" class="w-carousel">
      </div>
      <div class="carousel-caption">
        <h3>First Slide</h3>
        <p> Angular 13 Carousel Example </p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="wrapper">
        <img [src]="images[1] " alt="Random second slide" class="w-carousel">
      </div>
      <div class="carousel-caption">
        <h3>Second Slide</h3>
        <p> Check out Techiediaries</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="wrapper">
        <img [src]="images[2]" alt="Random third slide" class="w-carousel">
      </div>
      <div class="carousel-caption">
        <h3>Third Slide</h3>
        <p>for full tutorial...</p>
      </div>
    </ng-template>
  </ngb-carousel>
  
  <!-- End carousel -->
  
  
  <!-- Start of card 1 -->
  
  <div class="row py-5">
    <div class="col-md-1   me-3"></div>
    <div class="col-md-3   card me-5">
      <img src="assets/img/card_1/don6.jpg" alt="..." class="img-size-card card-img-top py-2">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.
          This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="col-md-3  card me-5">
      <img src="assets/img/card_1/don7.jpg" alt="..." class="img-size-card card-img-top py-2">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.
          This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="col-md-3  card">
      <img src="assets/img/card_1/don8.jpg"  alt="..." class="img-size-card card-img-top py-2">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.
          This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="col-sm-2 "></div>
  </div>
  
  <!-- End card 1 -->
  
  <!-- Start of card 2 -->
  
  <div class="row  pb-4">
    <div class="col-md-1 "></div>
    <div class="col-md-5 ">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Ut blanditiis, laboriosam eveniet, nam sed ratione molestias
            rem laborum iure, dolor aut totam ipsum cupiditate asperiores dicta
            obcaecati sit neque doloribus?
            Lorem ipsum dolor sit amet consectetur
            adipisicing elit. Quaerat similique reprehenderit dolorum
            obcaecati sed illum aliquid, earum atque dolor alias! Sint error
            culpa, illum nostrum amet dolores id beatae asperiores.
          </p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col-md-5">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Ut blanditiis, laboriosam eveniet, nam sed ratione molestias
            rem laborum iure, dolor aut totam ipsum cupiditate asperiores dicta
            obcaecati sit neque doloribus?
            Lorem ipsum dolor sit amet consectetur
            adipisicing elit. Quaerat similique reprehenderit dolorum
            obcaecati sed illum aliquid, earum atque dolor alias! Sint error
            culpa, illum nostrum amet dolores id beatae asperiores.
          </p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col-md-1 "></div>
  </div>
  
  <!-- End card 2 -->
  
  <!-- Start bannier-->
  
  
  <div class="row ">
    <div class="col-md-6 ">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Ut blanditiis, laboriosam eveniet, nam sed ratione molestias
            rem laborum iure, dolor aut totam ipsum cupiditate asperiores dicta
            obcaecati sit neque doloribus?
            Lorem ipsum dolor sit amet consectetur
            adipisicing elit. Quaerat similique reprehenderit dolorum
            obcaecati sed illum aliquid, earum atque dolor alias! Sint error
            culpa, illum nostrum amet dolores id beatae asperiores.
          </p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Ut blanditiis, laboriosam eveniet, nam sed ratione molestias
            rem laborum iure, dolor aut totam ipsum cupiditate asperiores dicta
            obcaecati sit neque doloribus?
            Lorem ipsum dolor sit amet consectetur
            adipisicing elit. Quaerat similique reprehenderit dolorum
            obcaecati sed illum aliquid, earum atque dolor alias! Sint error
            culpa, illum nostrum amet dolores id beatae asperiores.
          </p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>
  
  <!-- End bannier-->
  
  <!-- Start of card 3 -->
  
  <div class="row py-5">
    <div class="col-md-1   me-3"></div>
    <div class="col-md-3   card me-5">
      <img src="assets/img/card_1/don6.jpg" alt="..." class="img-size-card card-img-top py-2">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.
          This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="col-md-3  card me-5">
      <img src="assets/img/card_1/don7.jpg" alt="..." class="img-size-card card-img-top py-2">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.
          This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="col-md-3  card">
      <img src="assets/img/card_1/don8.jpg"  alt="..." class="img-size-card card-img-top py-2">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.
          This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="col-sm-2 "></div>
  </div>
  
  <!-- End card 3-->
  

<!-- End content page-->

<!-- Start of footer page-->

<app-footer></app-footer>

<!-- End footer page-->

