<!--header-->
<app-header></app-header>

<!--end header-->

<div class="container-fluid">
    <div class="row">
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
            <div class="position-sticky pt-3 sidebar-sticky">
                <ul class="nav flex-column mt-lg-4 ">
                    <li class="nav-item mb-2  li-hover-item">
                        <a class="nav-link active mx-2 li-color-item" aria-current="page" routerLink="./donor" href="#">
                            <i class="fa fa-home me-3"></i>

                            Dashboard
                        </a>
                    </li>
                    <li class="nav-item mb-2 mt-2  li-hover-item">
                        <a class="nav-link mx-2 li-color-item" routerLink="./donor/update" href="#">
                            <i class="fa fa-users me-md-3"></i>
                            Modifier Mes Info
                        </a>
                    </li>
                    <li class="nav-item mb-2 mt-2  li-hover-item">
                        <a class="nav-link mx-2 li-color-item" routerLink="./donor/appointment" href="#">
                            <i class="fa fa-users me-md-3"></i>
                            Mes Rendez-Vous
                        </a>
                    </li>
                    <li class="nav-item mb-2 mt-2  li-hover-item">
                        <a class="nav-link mx-2 li-color-item" routerLink="./donor/prelevement" href="#">
                            <i class="fa fa-flag me-md-3"></i>
                            Prelevement
                        </a>
                    </li>
                    <li class="nav-item mb-2 mt-2  li-hover-item">
                        <a class="nav-link mx-2 li-color-item" routerLink="./donor/checkup" href="#">
                            <i class="fa fa-city me-md-3"></i>
                            Analyse du Sang
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <div
                class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">Dashboard</h1>
                <div class="btn-toolbar mb-2 mb-md-0">
                    <div class="btn-group me-2">
                        <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
                        <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
                    </div>
                    <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
                        <span data-feather="calendar" class="align-text-bottom"></span>
                        This week
                    </button>
                </div>
            </div>
            <!-- Contenu -->
            <div>
                <router-outlet></router-outlet>
            </div>
            <!-- fin contenu-->
            <canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas>
        </main>
    </div>
</div>