
<app-header></app-header>

<section class="intro mt-5 mb-5">
  <div class="container mt-3 bg-light border-primary " style="border: solid 1px blue; border-radius: 10px;
  ">
      
      <div class="col-md-12">
  
          <form >
              <h4 class="text-center text-primary" style="font-size:30px;border:solid 1px  blue; "> Inscription des Donneurs</h4>
              <div class="row  mt-3">
                  <div class="col-md-4 ">
                      <div>
                          <div class="" style="font-size:18px;">Code Center </div>
                          <div class="input-group mb-3">
                              <span class="input-group-text" id="basic-addon1"><i class="fa fa-lock"></i></span>
                              <input type="text" class="form-control" placeholder="Code center" aria-label="Username"
                                  aria-describedby="basic-addon1" >
                          </div>
                      </div>
  
                  </div>
                  <div class="col-md-4">
                      <div>
                          <div>Name Center </div>
                          <div class="input-group mb-3">
                              <span class="input-group-text" id="basic-addon1"><i class="fa fa-edit"></i></span>
                              <input type="text" class="form-control" placeholder="Name Center" aria-label="Username"
                                  aria-describedby="basic-addon1" >
                          </div>
                      </div>
  
                  </div>
                  <div class="col-md-4">
                      <div>
                          <div>Address Center </div>
                          <div class="input-group mb-3">
                              <span class="input-group-text" id="basic-addon1"><i class="fa fa-address-book"></i></span>
                              <input type="text" class="form-control" placeholder="Address Center" aria-label="Username"
                                  aria-describedby="basic-addon1" >
                          </div>
                      </div>
  
                  </div>
  
              </div>
  
  
              <div class="row ">
                  <div class="col-md-4">
                      <div>
                          <div>Phone Center </div>
                          <div class="input-group mb-3">
                              <span class="input-group-text" id="basic-addon1"><i class="fa fa-phone"></i></span>
                              <input type="text" class="form-control" placeholder="Phone Center" aria-label="Username"
                                  aria-describedby="basic-addon1" >
                          </div>
                      </div>
  
                  </div>
                  <div class="col-md-4">
                      <div>
                          <div>Municipalitie Center </div>
                          <div class="input-group mb-3">
                              <span class="input-group-text" id="basic-addon1"><i class="fa fa-bank"></i></span>
                              <select class="form-select" >
                                 <option value=""></option>
                              </select>
                          </div>
                      </div>
  
                  </div>
                  <div class="col-md-4">
                      <div>
                          <div>Email Center </div>
                          <div class="input-group mb-3">
                              <span class="input-group-text" id="basic-addon1"><i class="fa fa-envelope"></i></span>
                              <input type="text" class="form-control" placeholder="Email Center" aria-label="Username"
                                  aria-describedby="basic-addon1" >
                          </div>
                      </div>
  
                  </div>
              </div>
              <div class="row ">
                <div class="col-md-4">
                    <div>
                        <div>Phone Center </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1"><i class="fa fa-phone"></i></span>
                            <input type="text" class="form-control" placeholder="Phone Center" aria-label="Username"
                                aria-describedby="basic-addon1" >
                        </div>
                    </div>

                </div>
                <div class="col-md-4">
                    <div>
                        <div>Municipalitie Center </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1"><i class="fa fa-bank"></i></span>
                            <select class="form-select" >
                               <option value=""></option>
                            </select>
                        </div>
                    </div>

                </div>
                <div class="col-md-4">
                    <div>
                        <div>Email Center </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1"><i class="fa fa-envelope"></i></span>
                            <input type="text" class="form-control" placeholder="Email Center" aria-label="Username"
                                aria-describedby="basic-addon1" >
                        </div>
                    </div>

                </div>
            </div>
            <div class="row ">
              <div class="col-md-4">
                  <div>
                      <div>Phone Center </div>
                      <div class="input-group mb-3">
                          <span class="input-group-text" id="basic-addon1"><i class="fa fa-phone"></i></span>
                          <input type="text" class="form-control" placeholder="Phone Center" aria-label="Username"
                              aria-describedby="basic-addon1" >
                      </div>
                  </div>

              </div>
              <div class="col-md-4">
                  <div>
                      <div>Municipalitie Center </div>
                      <div class="input-group mb-3">
                          <span class="input-group-text" id="basic-addon1"><i class="fa fa-bank"></i></span>
                          <select class="form-select" >
                             <option value=""></option>
                          </select>
                      </div>
                  </div>

              </div>
              <div class="col-md-4">
                  <div>
                      <div>Email Center </div>
                      <div class="input-group mb-3">
                          <span class="input-group-text" id="basic-addon1"><i class="fa fa-envelope"></i></span>
                          <input type="text" class="form-control" placeholder="Email Center" aria-label="Username"
                              aria-describedby="basic-addon1" >
                      </div>
                  </div>

              </div>
          </div>
          
              <div class="row col-md-12 mb-3 ">
                  <button type="submit" class="btn btn-info mt-4 text-white " style="margin-left: 10px;"><i
                          class="fa fa-check" style="margin-right:5px;"></i>Submit</button>
  
              </div>
          </form>
      </div>
  </div>
  </section>

  <app-footer></app-footer>