<h4 class="">Dashboard Jobs</h4>
<div class="row">
    <div *ngIf="messageSucces"  class="alert alert-success mt-2"  role="alert">
        Add Successfull
      </div>
      <div *ngIf="messageDelete"  class="alert alert-danger mt-2"  role="alert">
        Delete Successfull
      </div>
    <div class="col-md-4">
        <div class="card text-bg-light mb-3 mt-4 me-5" style="max-width: 25rem;">
            <div class="card-header">Jobs</div>
            <div class="card-body">
                <h5 class="card-title">Name</h5>
                <form (ngSubmit)="addJobs()" >
                    <div class="input-group flex-nowrap">
                        <input type="hidden" >
                        <span class="input-group-text"><i class="fa fa-edit"></i></span>
                        <input type="text" class="form-control" placeholder="Jobs" aria-label="Username"
                            aria-describedby="addon-wrapping" [(ngModel)]="jobs.jobsName" [ngModelOptions]="{standalone: true}">

                    </div>
                    <div>
                        <button type="submit" class="btn btn-info mt-4 text-white " style="margin-left: 170px;"><i
                                class="fa fa-check" style="margin-right: 2px;"></i>Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="mt-4">
            <h5 class="text-center text-decoration-underline">Table Jobs</h5>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">N</th>
                        <th scope="col">jobs </th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    
                    <tr *ngFor="let jobs of tab_jobs ;let i = index">
                        <th scope="row">{{i+1}}</th>
                        <td>{{jobs.jobsName}}</td>
                        <td>
                            <button type="submit" class="btn btn-primary  text-white me-2 " ><i
                                class="fa fa-edit" style="margin-right: 2px;"></i>
                            </button>

                            <button type="submit" (click)="deleteJobs(jobs.jobsId)"
                            class="btn btn-danger text-white "><i
                                class="fas fa-trash-alt" style="margin-right: 2px;"></i></button>
                                
                        </td>
                    </tr>
                   
                </tbody>
            </table>
        </div>

    </div>
</div>