


<section class="intro " >
<div class="row">
    <div class=" col-md-2"></div>
    <div class=" col-md-8">

        <div *ngIf="messageSucces" class="alert alert-success mt-2" role="alert">
            Add Successfull
        </div>
        <div *ngIf="messageDelete" class="alert alert-danger mt-2" role="alert">
            Delete Successfull
        </div>
    
    </div>
    <div class=" col-md-2"></div>
</div>
  <div class="container mt-3 bg-light border-primary " style="border: solid 1px blue; border-radius: 10px;
  ">
      
      <div class="col-md-12">
  
          <form [formGroup]="forms"  (ngSubmit)="addCompte()">
              <h4 class="text-center text-primary" style="font-size:30px;border:solid 1px  blue; "> Modifier Mes Information</h4>
              <div class="row  mt-3">
                  <div class="col-md-4 ">
                      <div>
                          <div class="" style="font-size:18px;">Nom </div>
                          <div class="input-group mb-3">
                              <span class="input-group-text" id="basic-addon1"><i class="fa fa-lock"></i></span>
                              <input type="text" class="form-control" placeholder="Nom" aria-label="Username"
                                  aria-describedby="basic-addon1" formControlName="firstNamePerson" >
                          </div>
                      </div>
  
                  </div>
                  <div class="col-md-4">
                      <div>
                          <div>Prenom(s) </div>
                          <div class="input-group mb-3">
                              <span class="input-group-text" id="basic-addon1"><i class="fa fa-edit"></i></span>
                              <input type="text" class="form-control" placeholder="Prenom(s)" aria-label="Username"
                                  aria-describedby="basic-addon1" formControlName="lastNamePersonne" >
                          </div>
                      </div>
  
                  </div>
                  <div class="col-md-4">
                      <div>
                          <div>Address Center </div>
                          <div class="input-group mb-3">
                              <span class="input-group-text" id="basic-addon1"><i class="fa fa-address-book"></i></span>
                              <input type="text" class="form-control" placeholder="Adresse" aria-label="Username"
                                  aria-describedby="basic-addon1" formControlName="phonePerson">
                          </div>
                      </div>
  
                  </div>
  
              </div>
  
  
              <div class="row ">
                  <div class="col-md-4">
                      <div>
                          <div>Email </div>
                          <div class="input-group mb-3">
                              <span class="input-group-text" id="basic-addon1"><i class="fa fa-phone"></i></span>
                              <input type="text" class="form-control" placeholder="Email" aria-label="Username"
                                  aria-describedby="basic-addon1" formControlName="emailPerson">
                          </div>
                      </div>
  
                  </div>
                  <div class="col-md-4">
                      <div>
                          <div>Adresse </div>
                          <div class="input-group mb-3">
                              <span class="input-group-text" id="basic-addon1"><i class="fa fa-bank"></i></span>
                              <input type="text" class="form-control" placeholder="Adresse" aria-label="Username"
                                aria-describedby="basic-addon1" formControlName="adressePerson"
                                >
                          </div>
                      </div>
  
                  </div>
                  <div class="col-md-4">
                      <div>
                          <div>Choose Your Municipalitie</div>
                          <div class="input-group mb-3">
                              <span class="input-group-text" id="basic-addon1"><i class="fa fa-envelope"></i></span>
                              <select class="form-select" formControlName="municipalitiesEntity" 
                             ngModel
                              >    
                                 <option  value="">Choose Your Municipalitie</option>
                                <option *ngFor="let list_municipalitie of list_municipalitie"
                                    value="{{list_municipalitie |json}}">
                                    {{list_municipalitie.municipalitieName}}
                                </option>
                            </select>
                          </div>
                      </div>
  
                  </div>
              </div>
              <div class="row ">
                <div class="col-md-4">
                    <div>
                        <div>Choose Your Documents</div>
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1"><i class="fa fa-phone"></i></span>
                            <select class="form-select" formControlName="documentEntity" 
                                ngModel >
                                <option  value="">Choose Your Documents</option>
                                <option *ngFor="let list_document of list_document" value="{{list_document |json}}">
                                    {{list_document.identityDocumentName}}
                                </option>
                            </select>
                        </div>
                    </div>

                </div>
                <div class="col-md-4">
                    <div>
                        <div>Jobs </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1"><i class="fa fa-bank"></i></span>
                            <select class="form-select" formControlName="jobsEntity" 
                            ngModel>
                              <option value="" selected>Choose Your Jobs</option>
                              <option *ngFor="let list_jobs of list_jobs" value="{{list_jobs |json}}">
                                  {{list_jobs.jobsName}}
                              </option>
                          </select>
                        </div>
                    </div>

                </div>
                <div class="col-md-4">
                    <div>
                        <div>Numero Piece Identite </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1"><i class="fa fa-envelope"></i></span>
                            <input type="text" class="form-control" placeholder="Numero Piece Identite" aria-label="Username"
                                aria-describedby="basic-addon1" >
                        </div>
                    </div>

                </div>
            </div>
            
          
              <div class="row col-md-12 mb-3 ">
                  <button type="submit" class="btn btn-info mt-4 text-white " style="margin-left: 10px;"><i
                          class="fa fa-check" style="margin-right:5px;"></i>Submit</button>
  
              </div>
          </form>
      </div>
  </div>
  </section>

  